In [268]:
import pandas as pd
import re
import numpy
from datetime import datetime

In [269]:
df = pd.read_csv('./sss.csv', sep = '\001', header = None);df.head()
# !pip list

,0,1,2,3,4,5,6,7,8,9,...,95,96,97,98,99,100,101,102,103,104
0,2019,d5955437-ad49-41a1-bb67-264f0d0250cc,APPLE,苹果,328370,27116,4148,3.177903624E8,3.2129111E8,0.0,...,None,None,None,None,2.5922522544E8,0.09933030767470513,1159.1799999999998,1039.18,120.0,"2.312494327E7,"
1,2020,0b59675a-8a85-4676-ac98-abbd71e82582,Abbott Nutrition,雅培 营养品,375468,1178,1178,4491571.0,4491571.0,1.3361647603952E10,...,None,None,None,None,5.1638266480000004E7,0.01378889820547672,575.1299999999999,405.13,170.0,"1.19858213E7,"
2,2021,4afc5549-fdc6-41f6-a295-536c7ebd540d,Accuray,安科锐,None,None,None,None,None,None,...,1.0,1.0,1.0,1.0,2209648.5999999996,0.2720034352973591,9.6,9.60,None,"421532.74,"
3,2020,53027fac-e481-4f37-99ce-f054f836c754,BMW Brilliance Automotive,华晨宝马,None,None,None,None,None,None,...,None,None,None,None,3.8434351508000004E8,0.08019890251975263,1574.59,865.59,709.0,"2.726166483E7,"
4,2021,e0bb9191-0f9c-46cb-80aa-6c2e048bd5ba,BRISTOL-MYERS SQUIBB,百时美施贵宝,12111,321,330,1.1951848E7,1.1951848E7,2.41058668525E9,...,None,None,None,None,1365424.59,0.12089211752074859,24.59,24.59,None,"312178.6500000001,"

In [270]:
colbnames = pd.read_clipboard(header = None)

In [271]:
colbnames

                             0
0  bms_bill_amount_exclude_tax

In [272]:
# colbnames = colbnames.drop([1,2,'col_name'], axis = 1)\
#     # .to_csv('./summary_annual_customer.csv', encoding = 'utf_8_sig', index = None)

In [273]:
dic = pd.read_csv('./summary_beta1.csv').drop_duplicates(subset=['col_name'])
colbnames = colbnames.merge(dic, how = 'left', left_on=0, right_on='col_name')

In [274]:
# df.to_csv('./summary_annual_customer.csv', encoding = 'utf_8_sig', index = None, header = None)

In [275]:
colbnames.T.to_clipboard(index = None, header = None)

In [276]:
colbnames

                             0                     col_name         desc
0  bms_bill_amount_exclude_tax  bms_bill_amount_exclude_tax  当月账单税前金额RMB

In [277]:
# df = pd.read_csv('./summary_all_annually.csv', sep = '|')
# df.columns = [re.sub('\w+\.{1}', '' , i) for i in list(df.columns)]
# df = df.dropna(how  ='all', axis = 1)

In [278]:
from pandas_profiling import ProfileReport
# import autoviz

In [279]:
df = df.fillna(1)

In [280]:
#  ProfileReport(df.iloc[0:25, 0:25], title="Pandas Profiling Report")

In [281]:
# st = df [df['ou_code'].str.match('STARBGZ')]

In [282]:
# measures = pd.read_clipboard(header = 0)

In [283]:
measures['desc'] = measures['desc'].str.replace('\W', '')

NameError: name 'measures' is not defined

In [ ]:
measures.to_clipboard()

In [ ]:
measures2 = pd.read_csv('./measures2.csv', sep = '\001')

In [ ]:
measures['en'] = measures['en'].apply(lambda x:  x.strip())
measures2['col_name'] = measures2['col_name'].apply(lambda x:  x.strip())

In [ ]:
df3 = measures.merge(measures2, left_on = 'en', right_on= 'col_name', how = 'right')

In [ ]:
df3.to_csv('./summary_beta1.csv', index = None, encoding = 'utf_8_sig')

---

In [ ]:
COACH = pd.read_excel('./COACH SHA WGQ WHS的数据.xlsx', header =1 )

In [ ]:
import hvplot

In [ ]:
coach = COACH[['姓名','工作组','任职时间', '职位','实际数量', '开始时间', '结束时间', '持续时间',   '货品编码',   '流程', '动作', '工作类型',
       '是否可测量', 'SPR标准数量', '标准生产时间', '任务类型', '单位','开始日期', '结束日期' ]]

In [ ]:
# [coach.shape, COACH.shape]
# del COACH

In [ ]:
coach['time_m'] = [datetime.strptime(i, '%H:%M:%S').minute for i in coach['持续时间']]
coach['time_s'] = [datetime.strptime(i, '%H:%M:%S').second for i in coach['持续时间']]
coach['time_used'] =coach['time_m']*60 + coach['time_s']
coach = coach.drop(['time_m', 'time_s'], axis = 1)

In [ ]:
# ProfileReport( coach, title="Pandas Profiling Report")

In [ ]:
# import openpyxl 
# from dataprep.eda import plot, plot_correlation, create_report, plot_missing

In [ ]:
coach_corr = coach.corr()
coach_corr.style.background_gradient(cmap='coolwarm', axis=None)

In [ ]:
plot(coach)

In [ ]:
coach[coach['姓名'] == '宋卫华']['动作'].value_counts()

In [ ]:
coach.head()

In [ ]:
def summarise(id):
    summary = coach[coach['姓名'] ==  id].groupby(['动作', '开始日期']).agg({
        '实际数量': [sum,'mean'],
        'time_used': [sum,'mean'],
        '标准生产时间': [sum,'mean'],
        '开始时间':min, '结束时间' : max
    });

    summary = summary.reset_index( ) 
    summary['eff'] = summary['time_used']['sum'] / (su_songweihua['实际数量']['sum'] + 1)
    summary['eff_std'] = summary['标准生产时间']['sum'] / (su_songweihua['实际数量']['sum']+ 1)
    return summary

In [ ]:
su_songweihua = summarise('宋卫华');su_songweihua

In [ ]:
coach['姓名'].unique()

In [ ]:
coach['姓名'].unique()
table = pd.DataFrame()
for i in coach['姓名']:
    try:
        table = table.append(summarise(i))
    except:
        print(i)

---

# what the fuck

In [407]:
bms = pd.read_excel('./tsc_bms_2021.xlsx' )
rel = pd.read_csv('bca_cc_cust_rel.csv', sep = '\001')
bms = bms[~bms['bms_bill_amount_exclude_tax'].isna()]

In [412]:
bms[bms['ou_code'] == 'H3CUHBJXWS'][['month','bms_bill_amount_exclude_tax']].corr() # 时间, 总量

                               month  bms_bill_amount_exclude_tax
month                        1.00000                     -0.83877
bms_bill_amount_exclude_tax -0.83877                      1.00000

In [414]:

corr_ta = bms[bms['ou_code'] == 'H3CUHBJXWS'].corr() # 时间, 总量
corr_ta.style.background_gradient(cmap='coolwarm', axis=None)

In [ ]:
cor1 = pd.DataFrame()
cor1['ou_code'] = bms['ou_code'].unique()
list1 = list()
for ou in bms['ou_code'].unique():
    list1.append(bms[bms['ou_code'] == ou].corr().loc['month','bms_bill_amount_exclude_tax'])
cor1['cor_all'] = list1

In [ ]:
bms = bms.merge(cor1, on = 'ou_code', how = 'left')

In [ ]:
import statsmodels.formula.api as smf

In [ ]:
coef = pd.DataFrame()
for ou in bms['ou_code'].unique():
    reg = smf.ols('bms_bill_amount_exclude_tax ~  month', data = bms[bms['ou_code'] == ou]).fit()
    a = pd.read_html(reg.summary().as_html())[1].iloc[2,[1,4]].T
    coef = coef.append(a)
coef['ou_code'] = bms['ou_code'].unique()
coef.columns = ['coef_reg', 'p_value', 'ou_code']

In [404]:
smf.ols('bms_bill_amount_exclude_tax ~  month', data = bms[bms['ou_code'] == 'H3CUHBJXWS']).fit().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:     bms_bill_amount_exclude_tax   R-squared:                       0.704
Model:                                     OLS   Adj. R-squared:                  0.666
Method:                          Least Squares   F-statistic:                     18.98
Date:                         Thu, 11 Nov 2021   Prob (F-statistic):            0.00242
Time:                                 23:49:17   Log-Likelihood:                -118.51
No. Observations:                           10   AIC:                             241.0
Df Residuals:                                8   BIC:                             241.6
Df Model:                                    1
Covariance Type:                     nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    3.68e+09   8.44e+08      4.358      0.002    1.73e+09    5.63e+09
month       -1.82e+04   4177.706     -4.357      0.002   -2.78e+04   -8569.033
==============================================================================
Omnibus:                        0.021   Durbin-Watson:                   1.841
Prob(Omnibus):                  0.989   Jarque-Bera (JB):                0.250
Skew:                          -0.006   Prob(JB):                        0.882
Kurtosis:                       2.225   Cond. No.                     1.42e+10
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.42e+10. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [ ]:
bms = bms.merge(coef, on = 'ou_code', how = 'left')

In [ ]:
kind = pd.read_clipboard()

In [ ]:
kind.columns = ['ou_code', 'kind', 'op', 'st', 'vas', 'ca']
bms = bms.merge(kind, on = 'ou_code', how = 'left')

In [ ]:
bms['kind'].isna().sum()

0

In [ ]:
list(bms.kind.unique())

['平衡型', '操作型', '存储型', 'VAS型']

In [288]:
bms['lb_op'] =  bms['labor_fee'] + bms['operation_fee']
balan = bms[bms['kind'] == '平衡型']
opera = bms[bms['kind'] == '操作型']
store = bms[bms['kind'] == '存储型']
vasty = bms[bms['kind'] == 'VAS型']

In [286]:
def cor_func(bms, col):
    """
    bms is the data frame, col is the target col
    """
    cor1 = pd.DataFrame()
    cor1['ou_code'] = bms['ou_code'].unique()
    list1 = list()
    for ou in bms['ou_code'].unique():
        list1.append(bms[bms['ou_code'] == ou].corr().loc['month',col])
    cor1['key_corr'] = list1
    cor1 = bms.merge(cor1, on = 'ou_code', how = 'left')
    return cor1

In [289]:
opera = cor_func(opera, 'lb_op')
store = cor_func(store, 'warehouse_site_fee')
vasty = cor_func(vasty, 'value_added_fee')
balan = cor_func(balan, 'bms_bill_amount_exclude_tax')

In [300]:
import seaborn as sns
import matplotlib.pyplot as plt

In [292]:
opera.head(1)

,ou_code,month,bms_bill_amount_exclude_tax,customs_agent_fee,operation_fee,warehouse_site_fee,short_barge_fee,labor_fee,equipment_usage_fee,value_added_fee,cor_all,coef_reg,p_value,kind,op,st,vas,ca,lb_op,key_corr
0,HPPXXSHMFS,202104,286135.46283,0.0,174369.86283,111765.6,0.0,0.0,0.0,0.0,0.515162,6583.7968,0.156,操作型,55%,44%,0%,0%,174369.86283,-0.087877

In [301]:
# def plot_bubble(df, col):
#     """
#     x = col, y = col
#     """
#     sns.scatterplot(x = col, y = col, data = df, size = abs(df[col]), hue = 'ou_code')
#     return plt.show()

In [324]:
# %matplotlib inline
# plt.rcParams['figure.figsize'] = [8, 8]
# sns.scatterplot(data = balan, x = 'key_corr', y = 'key_corr', size = 'key_corr', hue = 'ou_code',sizes=(20, 1200))
# plt.show()

In [325]:
import plotly.express as px

In [332]:
abs(balan['key_corr'])

0      0.402807
1      0.838770
2      0.071787
3      0.073938
4      0.073938
         ...
384    0.128927
385    0.262353
386         NaN
387    0.312759
388    0.128927
Name: key_corr, Length: 389, dtype: float64

In [ ]:
opera = cor_func(opera, 'lb_op')
store = cor_func(store, 'warehouse_site_fee')
vasty = cor_func(vasty, 'value_added_fee')
balan = cor_func(balan, 'bms_bill_amount_exclude_tax')

In [390]:
def plot_bubble(balan, name):
    """
    balan is the dataframe, you name the html_file
    """
    str = "C:\\Users\\dscshap3808\\Documents\\my_scripts_new\\play9_bms\\pics\\" + name + ".html"
    fig = px.scatter(data_frame =  balan, x = 'key_corr', y = 'key_corr',\
        size = abs(balan['key_corr']).fillna(0),opacity=.56, color = 'ou_code', title = name + '_group')
    fig.add_shape(type="line",
              x0=0, 
              y0=-1.4,  
              x1=0, 
              y1=1.4,fillcolor = 'black', opacity = .4)
    fig.add_shape(type="line",
              x0=-1.4, 
              y0=0,  
              x1=1.4, 
              y1=0,fillcolor = 'black', opacity = .4)
    fig.write_html(str)

In [401]:
# import plotly.io as pio 

# pio.templates.default = "plotly_white"
# figg = px.scatter(data_frame =  opera, x = 'key_corr', y = 'key_corr',\
#     size = abs(opera['key_corr']).fillna(0), opacity = .75, color = 'ou_code', title = 'operation_group')\
#     # .write_html(r"C:\Users\dscshap3808\Documents\my_scripts_new\play9_bms\pics\opera.html")
# figg

In [393]:
plot_bubble(opera,"operation")
plot_bubble(store,"storage")
plot_bubble(vasty,"value_add")
plot_bubble(balan,"balanced")

In [417]:
pd.concat([balan, opera, vasty, store], axis = 0).to_csv('./bms_corr_tsc.csv', index = None, encoding = 'utf_8_sig')